<dx-box direction="row" width="100%" height="100%">
  <!--dxi-item [baseSize]="50" ratio="1">
    <h3>PROVINCIAS</h3>
    <div style="max-height: calc(99vh - 40px); overflow-y: auto;">

      <dx-data-grid
        [dataSource]="dataProvincias$ | async"
        [columns]="['id', 'nombre']"
        [paging]="{ enabled: false }"
        (onRowClick)="onProvinciaClick($event)"
        (onRowDblClick)="onProvinciaRowDblClick($event)">
        <dxo-selection mode="single"></dxo-selection>
      </dx-data-grid>

      <dx-popup
        [visible]="provinciaPopupVisible"
        title="Información de la provincia"
        [height]="285"
        [width]="500"
        (onHiding)="hidePopup()">
        <table class="table table-striped table-bordered mt-3">
          <tbody>
          <tr>
            <td>Nombre de la provincia</td>
            <td>{{selectedProvinciaName}}</td>
          </tr>
          <tr>
            <td>Id de la provincia</td>
            <td>{{selectedProvinciaId}}</td>
          </tr>
          <tr>
            <td>Número de localidades asociadas</td>
            <td>{{selectedProvinciaLocalidadesNumber}}</td>
          </tr>
          </tbody>
        </table>
      </dx-popup>

    </div>
  </dxi-item-->

  <dxi-item ratio="1">

    <h3>Localidades según provincia</h3>

    <dx-select-box
      class="mySelectBox"
      [width]="300"
      [dataSource]="provincias"
      placeholder="Seleccione una provincia"
      valueExpr="id"
      displayExpr="nombre"
      [searchEnabled]="true"
      (onValueChanged)="onProvinciaSelected($event)"
    ></dx-select-box>

    <dx-data-grid
      [dataSource]="dataLocalidades$ | async"
      [columns]="['id', 'nombre']"
      (onRowDblClick)="onLocalidadRowDblClick($event)">
      <dxo-selection mode="single"></dxo-selection>

    </dx-data-grid>

    <dx-popup
      [visible]="localidadPopupVisible"
      title="Información de {{selectedLocalidadName}}"
      [height]="320"
      [width]="420"
      (onHiding)="hidePopup()">

      <div class="rowDiv">

        <p class="popUpInfo">Provincia a la que pertenece:</p>
        <!--En las propiedades onOpened / onValueChanged hice una chapuza para almacenar la localidad seleccionada para poder migrarla a otra provincia-->
        <dx-select-box
          class="mySelectBox"
          [width]="300"
          [dataSource]="provincias"
          placeholder="{{selectedProvinciaName}}"
          valueExpr="id"
          displayExpr="nombre"
          [searchEnabled]="true"
          (onOpened)="onSavingLocalidad($event)"
          (onValueChanged)="onLocalidadProvinciaChanged($event)"
        ></dx-select-box>

      </div>
      <!--[dataSource]="dataLocalidades$ NO TIENE SENTIDO AQUÍ, DEBERÍA MOSTRAR LA INFORMACIÓN DE LA LOCALIDAD, NO DE TODAS LAS LOCALIDADES DE LA PROVINCIA SELECCIONADA-->
      <dx-data-grid
        id="gridContainer"
        [columns]="['nombre']"
        [dataSource]="selectedLocalidad$ | async"
        [showBorders]="true"
        (onRowUpdating)="onInfoPopupRowUpdating($event)"
        (onRowRemoving)="onInfoPopupRowRemoving($event)">
        <dxo-paging [enabled]="false"></dxo-paging>
        <dxo-editing
          mode="batch"
          [allowUpdating]="true"
          [allowAdding]="true"
          [allowDeleting]="true">
        </dxo-editing>

        <dxi-column dataField="id" [allowEditing]="false">
        </dxi-column>

        <dxi-column dataField="nombre" [allowEditing]="true">
        </dxi-column>
      </dx-data-grid>

    </dx-popup>

    <dx-popup
      [visible]="confirmingProvinciaChangePopupVisible"
      title="Confirmar cambios"
      [resizeEnabled]="true"
      [height]="275"
      [width]="550"
      (onHiding)="hidePopup()">
      <div>
        <p class="confirmMessage">
          ¿Cambiar la localidad {{ selectedLocalidadName }} de la provincia de {{ selectedProvinciaName }} a la
          provincia de {{ migrationTargetProvincia?.nombre }}?
        </p>
      </div>
      <div class="rowDiv">
        <dx-button
          text="Cancelar"
          (onClick)="hidePopup()"
        >
        </dx-button>

        <dx-button
          text="Confirmar"
          (onClick)="onConfirmProvinciaChangeButton($event)"
        >
        </dx-button>
      </div>
    </dx-popup>

  </dxi-item>
</dx-box>


<!--

<table class="table table-striped table-bordered mt-3">
        <tbody>
        <tr>
          <td>Nombre de la localidad</td>
          <td>{{ selectedLocalidadName }}</td>
        </tr>
        <tr>
          <td>Id de la localidad</td>
          <td>{{ selectedLocalidadId }}</td>
        </tr>
        <tr>
          <td>Provincia a la que pertenece</td>
          <td>{{ selectedProvinciaName }}</td>
        </tr>
        </tbody>
      </table>


      <dx-data-grid
        id="gridContainer"
        [dataSource]="dataLocalidades$ | async"
        [showBorders]="true">

        <dxo-editing
          mode="cell"
          [allowUpdating]="true"
          [allowAdding]="true"
          [allowDeleting]="true">

        </dxo-editing>

      </dx-data-grid>

      -->



