h3{
  margin:0 auto;
  margin-bottom: 1rem;
  margin-top: 1rem;

  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.mySelectBox {
  margin: auto;
  width: 50%;
  border: 3px solid darkgray;
  padding: 10px;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.rowDiv{
  display: flex;
  flex-direction: row;
}

.confirmMessage {
  font-size: 1rem;
  font-weight: 300;
  line-height: 2;
}
