<!--IMPORTANTE: 'id' Y 'nombre' SE CORRESPONDEN CON LOS CAMPOS DE LA TABLA PROVINCIAS EN BASE DE DATOS, EL NOMBRE DEBE COINCIDIR EXACTAMENTE>
<dx-data-grid
  [dataSource] = "dataProvincias$ | async"
  [columns]="['id', 'nombre']"
>

</dx-data-grid>

<dx-data-grid
  [dataSource] = "dataLocalidades$ | async"
  [columns]="['id', 'nombre']">

</dx-data-grid>

<router-outlet /-->

<!--dx-box direction="row" width="100%" height="100%">
  <dxi-item [baseSize]="50" ratio="1">
    <dx-data-grid
      [dataSource]="dataProvincias$ | async"
      [columns]="['id', 'name']"
      (onRowClick)="onProvinciaClick($event)">
    </dx-data-grid>
  </dxi-item>
  <dxi-item [baseSize]="50" ratio="1">
    <dx-data-grid
      [dataSource]="dataLocalidades$ | async"
      [columns]="['id', 'name']">
    </dx-data-grid>
  </dxi-item>
</dx-box-->

<dx-box direction="row" width="100%" height="100%">
  <dxi-item [baseSize]="50" ratio="1">
    <h3>PROVINCIAS</h3>
    <div style="max-height: calc(99vh - 40px); overflow-y: auto;">

      <dx-data-grid
        [dataSource]="dataProvincias$ | async"
        [columns]="['id', 'nombre']"
        [paging]="{ enabled: false }"
        (onRowClick)="onProvinciaClick($event)"
        (onRowDblClick)="onProvinciaRowDblClick($event)">
        <dxo-selection mode="single"></dxo-selection>
      </dx-data-grid>

      <dx-popup
        [visible]="provinciaPopupVisible"
        title="Información de la provincia"
        [height]="285"
        [width]="500"
        (onHiding)="hidePopup()">
        <table class="table table-striped table-bordered mt-3">
          <tbody>
          <tr>
            <td>Nombre de la provincia</td>
            <td>{{selectedProvinciaName}}</td>
          </tr>
          <tr>
            <td>Id de la provincia</td>
            <td>{{selectedProvinciaId}}</td>
          </tr>
          <tr>
            <td>Número de localidades asociadas</td>
            <td>{{selectedProvinciaLocalidadesNumber}}</td>
          </tr>
          </tbody>
        </table>
      </dx-popup>

    </div>
  </dxi-item>



  <dxi-item [baseSize]="50" ratio="1">

    <h3>LOCALIDADES</h3>

    <dx-data-grid
      [dataSource]="dataLocalidades$ | async"
      [columns]="['id', 'nombre']"
      (onRowDblClick)="onLocalidadRowDblClick($event)">
      <dxo-selection mode="single"></dxo-selection>
    </dx-data-grid>
    <dx-popup
      [visible]="localidadPopupVisible"
      title="Información de la provincia"
      [height]="285"
      [width]="500"
      (onHiding)="hidePopup()">

      <table class="table table-striped table-bordered mt-3">
        <tbody>
        <tr>
          <td>Nombre de la localidad</td>
          <td>{{selectedLocalidadName}}</td>
        </tr>
        <tr>
          <td>Id de la localidad</td>
          <td>{{selectedLocalidadId}}</td>
        </tr>
        <tr>
          <td>Provincia a la que pertenece</td>
          <td>{{selectedProvinciaName}}</td>
        </tr>
        </tbody>
      </table>
    </dx-popup>
  </dxi-item>
</dx-box>


<!--(onRowDblClick)="onProvinciaClick($event)-->

