h3{
  margin:0 auto;
  margin-bottom: 1rem;
  margin-top: 1rem;

  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.mySelectBox {
  margin: auto;
  width: 50%;
  border: 3px solid darkgray;
  padding: 10px;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.rowDiv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}


.confirmMessage {
  font-size: 1rem;
  font-weight: 300;
  line-height: 2;
}

.popUpInfo{
  margin-right: 1rem;
  font-size: 1rem;
  font-weight: 350;
  line-height: 1.5;
}

.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
