h3{
  margin:0 auto;
  margin-bottom: 1rem;
  margin-top: 1rem;

  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
}

.mySelectBox {
  margin: auto;
  width: 50%;
  border: 3px solid darkgray;
  padding: 10px;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.rowDiv {
  display: flex;
  justify-content: space-evenly; /* Distribuye el espacio uniformemente entre los elementos */
  align-items: center; /* Centra los elementos verticalmente */
  padding: 10px; /* Añade un padding si es necesario */
}


.confirmMessage {
  font-size: 1rem;
  font-weight: 300;
  line-height: 2;
}
